@charset "utf-8";
/* CSS Document */

body{margin:0;background:#e9ebee;font-family:Arial,Helvetica,sans-serif;min-width:425px;}
	.divmain{margin:0; width:100%;}
	.examcontent_p1{width:24.5%;height:40em;background:white;float:right;top:0;right:0;position:fixed; padding-right:0.5em; overflow:auto;}
	.examcontent_p2{width:73%;margin-left:0.4em;padding-right:0.4em;float:left;background:white;overflow:auto;padding-top:0.3em; padding-left:0.4em; padding-bottom:1em;}
	.areaexam{width:98.8%;display:block;margin:auto; border-bottom:2px solid rgba(153,255,0,1);}
	.cauhoi{width:48.7%;padding:0.4em;font-family:Helvetica,sans-serif;font-size:15px;margin-top:1em; margin-bottom:0.2em;}
	.tencauhoi{background:white;margin-top:0.5em;padding:1em;border-bottom:1px dashed rgba(170,170,170,0.3);font-family:Helvetica,sans-serif;font-size:16px;}
	.dapan{background:white;padding:1em 1em;font-size:15px;font-family:Helvetica,sans-serif;}
	label{cursor:pointer;}
	.dscauhoi{width:97.5%;height:auto;background:white;display:block;margin:auto;margin-left:0.25em;margin-top:0.3em;border-bottom:3px solid rgba(153,255,0,1); padding-bottom:0.2em;}
	#timer{width:97.5%;height:auto;background:rgba(170,170,170,0);margin-left:0.25em;margin-top:0.3em;margin-bottom:0.3em; padding:0.6em 0em; border-bottom:2px solid rgba(153,255,0,1);}
	.socau{background:dimgrey; margin:3px;margin-left:10px;float:left;width:2.3em;height:1.7em;font-size:13px;text-align:center;color:white;cursor:pointer;}
	.socau:hover{text-decoration:underline;}
	
@media all and (max-width:1000px){
	#clock{
		font-size:18px !important;
	}
	img{height:20px; width:20px;}
	.examcontent_p1,.examcontent_p2{margin:0;}
	.sobd,.hoten{
		font-size:11px !important;
	}
}
@media all and (min-width:319px) and (max-width:767px){
	#clock{
		font-size:15px !important;
		margin-left:0.2px !important;
	}
	img{height:20px; width:20px;}
	.examcontent_p1,.examcontent_p2{margin:0;}
	.dscauhoi{font-size:10px !important;}
	.hellomem{display:none;}
	.socau{width:2em; height:2em;font-size:10px;margin-left:2px;}
	#submit{width:90%; height:4em; font-size:8px; padding:0 !important;}
	.maincauhoi{height:15em !important;}
	.examcontent_p2{background:rgba(255,255,204,0.8);}
	.sobd,.hoten{
		font-size:11px !important;
	}
}