#li9 {
  color: rgba(255, 204, 0, 1);
  font-weight: bolder;
}
.pp1 {
  background: rgba(221, 221, 221, 1);
  width: 100%;
  height: 2em;
}
.pp2 {
  display: block;
  margin: auto;
  border-left: 1px solid rgba(153, 153, 153, 0.5);
  padding: 1em 0em;
  border-right: 1px solid rgba(153, 153, 153, 0.5);
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  overflow: auto;
}
.csbd {
  margin-top: 0.2em;
}

.tabley,
.tabley td,
.tabley th {
  border: 1px solid rgba(187, 187, 187, 1);
  padding: 0.2em 0.3em;
}
.tabley {
  border-collapse: collapse;
  width: 97%;
  font-size: 14px;
  display: block;
  margin: auto;
}
.tabley tr:hover {
  cursor: default;
  background: rgba(0, 102, 153, 0.1);
}
.tabley th {
  height: 22px;
  background: #4267b2;
  color: white;
}

.tabley tr:nth-child(even) {
  background-color: white;
}
.tabley tr:nth-child(odd) {
  background-color: #f1f1f1;
}

span {
  margin: 0;
}
#update {
  width: 97.2%;
  margin: auto;
  display: block;
  margin-top: 0.5em;
}
.addByExcel {
  display: block;
  margin: auto;
  float: left;
  width: 60%;
  height: 10em;
  text-align: center;
  margin-left: 1em;
}
#tencauhoi,
#padung,
#pasai1,
#pasai2,
#pasai3 {
  width: 98%;
  height: 1.5em;
  margin: 0.5em 0;
  padding: 0em 0.7em;
}
#macauhoi,
#tl {
  width: 10%;
  height: 1.5em;
  margin: 0.5em 0;
  padding: 0em 0.7em;
}
#file1,
#file2,
#file3,
#file4,
#file5 {
  background: blue;
  margin-bottom: 1em;
  width: 30%;
  height: 1.8em;
  opacity: 0;
  cursor: pointer;
}
.tabley {
  width: 99%;
  margin-top: 0.3em;
  border: 1px solid rgba(136, 136, 136, 0.8);
}
